<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <api>
    <weather>
      <name>OpenWeatherMap</name>
      <endpoint>api.openweathermap.org/data/2.5/weather</endpoint>
      <key></key>
    </weather>
    <location>
      <name>ip-api</name>
      <endpoint>ip-api.com/json/</endpoint>
      <key></key>
    </location>
  </api>
  <data>
    <cache>private/dat</cache>
  </data>
</settings>